<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>ログイン画面</title>
	</head>
	<body>
		<div th:insert="~{common/sourceList :: sourceList}"></div>
		<div class="container-fluid">
			<h2>ログイン画面</h2>
			<div class="alert alert-danger d-flex align-item-center" role="alert" th:if="${errorMsg} != null">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24">
					<use xlink:href="#exclamation-triangle-fill" />
				</svg>
				<span th:text="${errorMsg}"></span>
			</div>
			<form th:action="@{/login}" method="post" th:object="${loginForm}">
				<div class="form-group">
					<div class="col-4 col-md-3 col-xxl-3">
						<p><label for="loginId">ログインID：</label>
						<input class="form-control" type="text" th:field="*{email}">
					</div>
					<div class="col-4 col-md-3 col-xxl-3">
						<p><label for="password">パスワード：</label>
						<input class="form-control" type="password" th:field="*{password}">
					</div>
					<p><input class="btn btn-primary" type="submit" value="ログイン">
				</div>
			</form>
			<a th:href="@{/signup}" >ユーザ登録こちら</a>
		</div>
	</body>
</html>